            <!-- Footer opened -->
			<div class="main-footer">
				<div class="container-fluid pd-t-0-f ht-100p">
					 Copyright © 2023. Designed with <span class="fa fa-heart text-danger"></span> by  Jemai Sameh and Ferdaws Ksiksi and Aymen charouni
				
				<!--					 Copyright © 2023 <a href="javascript:void(0);" class="text-primary">School</a>. Designed with <span class="fa fa-heart text-danger"></span> by  Jemai Sameh and Ferdaws Ksiksi and Aymen charouni
-->
				
					</div>
			</div>
			<!-- Footer closed -->
