.main-sidbar{
    margin-left: 30px;
    margin-top: 10px;
}

ul {
    margin-top: 30px;
}

.main-sidebar {
    background-color:#1b2a47;
    border-right: none;
}

.nav-pills .nav-link {
    color: #13e6cf;
}