  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    
    <!-- Sidebar -->


    <div class="main-sidbar active">
            <a class="header-logo active" href="index.html">
                    <img src="assets/img/brand/school.png" width="150" height="70" alt="logo">
            </a>
    </div>
      <!-- Sidebar Menu -->
      <div class="container-scroller">
      <nav class="mt-2 main-sidemenu">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a routerLink="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bords
              </p>
            </a>
          </li>
          <li class="nav-item nav-category">
            <a routerLink="admins" class="nav-link">
              <i class="nav-icon fas fa-school"></i>
              <p>
                Admin
              </p>
            </a>
          </li>
          <li class="nav-item nav-category">
            <a routerLink="schools" class="nav-link">
              <i class="nav-icon fas fa-school"></i>
              <p>
                Ecole
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="Sections" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Filière
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="Subjects" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Matière
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="classes" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Classe
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="plannings" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Emploi du temps
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="teachers" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                Professeur
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="students" class="nav-link">
              <i class="nav-icon fas fa-book-reader"></i>
              <p>
                Elève
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="Classroom" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Salle
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="absences" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Absence
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
      <!-- /.sidebar-menu -->
    
    <!-- /.sidebar -->
  </aside>