<!-- main-content -->
<div class="main-content app-content">
    <div class="container" id="main-container">
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="plannings"><b><i class="si si-layers"></i> Liste des emplois du temps</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button type="button" class="btn btn-info"   data-toggle="modal" data-target="#addSectionModal"><i class="si si-plus"></i> Ajouter  </button>
          </div>
      </div>
    </nav>
      
      
    <div class="col-md-12"> 
      <table class="table">
      <thead class="thead-dark">
          <tr>
          <th scope="col">#</th>
          <th scope="col">Classe</th>
          <th scope="col">Actions</th>
          </tr>
      </thead>
      <tbody>
          
      </tbody>
      </table>
      </div>
    </div>
    
   
    </div>

    <!-- main-content closed -->
    
